<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- https://docs.spring.io/spring-security/site/docs/5.4.0/reference/html5/#ns-minimal -->

    <http>
        <headers>
            <frame-options policy="SAMEORIGIN" />
        </headers>
        
        <csrf disabled="true" />
        
        <form-login login-page="/sign-on" authentication-failure-url="/sign-on?error" />

        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/content/**" access="hasRole('ROLE_CONTRIBUTOR')" />

        <logout />
    </http>

    <authentication-manager />
</beans:beans>
