<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:p="http://www.springframework.org/schema/p"
            xmlns:context="http://www.springframework.org/schema/context"
            xmlns:tx="http://www.springframework.org/schema/tx"
            xsi:schemaLocation="
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- DataSource configuration for Apache Commons DBCP. -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
            p:driverClassName="${jdbc.driverClassName}"
            p:url="${jdbc.url}"
            p:username="${jdbc.username}"
            p:password="${jdbc.password}"
            p:validationQuery="${jdbc.validationQuery}"
            p:testOnBorrow="true" />

    <!-- JPA EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
            p:dataSource-ref="dataSource"
            p:persistenceXmlLocation="classpath:META-INF/jpa-persistence.xml">
    <property name="jpaVendorAdapter">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                p:database="${jpa.database}"
                p:databasePlatform="${jpa.databasePlatform}"
                p:showSql="${jpa.showSql}"
                p:generateDdl="${jpa.generateDdl}" />
        </property>
    </bean>

    <!-- Transaction manager for a single JPA EntityManagerFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
            p:entityManagerFactory-ref="entityManagerFactory" />
    
    <context:annotation-config />
    
    <tx:annotation-driven />

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- DAOs that will be autowired -->
    <bean id="applicationDao" class="ai.elimu.dao.jpa.ApplicationDaoJpa" />
    <bean id="applicationVersionDao" class="ai.elimu.dao.jpa.ApplicationVersionDaoJpa" />
    <bean id="contributorDao" class="ai.elimu.dao.jpa.ContributorDaoJpa" />
    <bean id="dbMigrationDao" class="ai.elimu.dao.jpa.DbMigrationDaoJpa" />
    <bean id="deviceDao" class="ai.elimu.dao.jpa.DeviceDaoJpa" />
    <bean id="emojiDao" class="ai.elimu.dao.jpa.EmojiDaoJpa" />
    <bean id="emojiContributionEventDao" class="ai.elimu.dao.jpa.EmojiContributionEventDaoJpa" />
    <bean id="imageDao" class="ai.elimu.dao.jpa.ImageDaoJpa" />
    <bean id="imageContributionEventDao" class="ai.elimu.dao.jpa.ImageContributionEventDaoJpa" />
    <bean id="letterDao" class="ai.elimu.dao.jpa.LetterDaoJpa" />
    <bean id="letterContributionEventDao" class="ai.elimu.dao.jpa.LetterContributionEventDaoJpa" />
    <bean id="letterSoundDao" class="ai.elimu.dao.jpa.LetterSoundDaoJpa" />
    <bean id="letterSoundAssessmentEventDao" class="ai.elimu.dao.jpa.LetterSoundAssessmentEventDaoJpa" />
    <bean id="letterSoundContributionEventDao" class="ai.elimu.dao.jpa.LetterSoundContributionEventDaoJpa" />
    <bean id="letterSoundLearningEventDao" class="ai.elimu.dao.jpa.LetterSoundLearningEventDaoJpa" />
    <bean id="letterSoundPeerReviewEventDao" class="ai.elimu.dao.jpa.LetterSoundPeerReviewEventDaoJpa" />
    <bean id="numberDao" class="ai.elimu.dao.jpa.NumberDaoJpa" />
    <bean id="numberAssessmentEventDao" class="ai.elimu.dao.jpa.NumberAssessmentEventDaoJpa" />
    <bean id="numberContributionEventDao" class="ai.elimu.dao.jpa.NumberContributionEventDaoJpa" />
    <bean id="numberLearningEventDao" class="ai.elimu.dao.jpa.NumberLearningEventDaoJpa" />
    <bean id="numberPeerReviewEventDao" class="ai.elimu.dao.jpa.NumberPeerReviewEventDaoJpa" />
    <bean id="soundDao" class="ai.elimu.dao.jpa.SoundDaoJpa" />
    <bean id="soundContributionEventDao" class="ai.elimu.dao.jpa.SoundContributionEventDaoJpa" />
    <bean id="storyBookDao" class="ai.elimu.dao.jpa.StoryBookDaoJpa" />
    <bean id="storyBookContributionEventDao" class="ai.elimu.dao.jpa.StoryBookContributionEventDaoJpa" />
    <bean id="storyBookLearningEventDao" class="ai.elimu.dao.jpa.StoryBookLearningEventDaoJpa" />
    <bean id="storyBookPeerReviewEventDao" class="ai.elimu.dao.jpa.StoryBookPeerReviewEventDaoJpa" />
    <bean id="storyBookChapterDao" class="ai.elimu.dao.jpa.StoryBookChapterDaoJpa" />
    <bean id="storyBookParagraphDao" class="ai.elimu.dao.jpa.StoryBookParagraphDaoJpa" />
    <bean id="studentDao" class="ai.elimu.dao.jpa.StudentDaoJpa" />
    <bean id="syllableDao" class="ai.elimu.dao.jpa.SyllableDaoJpa" />
    <bean id="videoDao" class="ai.elimu.dao.jpa.VideoDaoJpa" />
    <bean id="videoContributionEventDao" class="ai.elimu.dao.jpa.VideoContributionEventDaoJpa" />
    <bean id="videoLearningEventDao" class="ai.elimu.dao.jpa.VideoLearningEventDaoJpa" />
    <bean id="wordDao" class="ai.elimu.dao.jpa.WordDaoJpa" />
    <bean id="wordAssessmentEventDao" class="ai.elimu.dao.jpa.WordAssessmentEventDaoJpa" />
    <bean id="wordContributionEventDao" class="ai.elimu.dao.jpa.WordContributionEventDaoJpa" />
    <bean id="wordLearningEventDao" class="ai.elimu.dao.jpa.WordLearningEventDaoJpa" />
    <bean id="wordPeerReviewLearningEventDao" class="ai.elimu.dao.jpa.WordPeerReviewEventDaoJpa" />
</beans>
