html {
    font-family: monospace, sans-serif;
}
code {
    background-color: rgba(0,0,0, 0.05); /* deep-purple */
    border-radius: 4px;
    padding: 4px;
}

body {
    background: #EEE;
}

#logo-container img {
    max-height: 1.2em;
    vertical-align: sub;
}

#index-banner {
    background-color: #673AB7;
    background-size: cover;
    background-position: 0 50%;
    background-image: url(../../static/img/banner-tz.png);
}
html[data-content-language="hin"] #index-banner {
    background-image: url(../../static/img/banner-in.png);
}
html[data-content-language="tgl"] #index-banner {
    background-image: url(../../static/img/banner-ph.png);
}
html[data-content-language="tha"] #index-banner {
    background-image: url(../../static/img/banner-th.jpg);
}
html[data-content-language="vie"] #index-banner {
    background-image: url(../../static/img/banner-vn.jpg);
}

.container > .section {
    min-height: 400px;
}

.container h1 {
    text-shadow: 1px 1px rgba(0,0,0, .8), 
        0 -1rem 3rem rgba(0,0,0, .8), 
        2rem 0 3rem rgba(0,0,0, .8), 
        0 1rem 3rem rgba(0,0,0, .8), 
        -2rem 0 3rem rgba(0,0,0, .8);
}
.container h1 span {
    font-weight: 300;
}
#index-banner h5 {
    background-color: rgba(0,0,0, .5);
    box-shadow: 0 0 1rem rgba(0,0,0, .5);
    text-shadow: 1px 1px #000;
    padding: 1rem;
    border-radius: 2px;
}

img,
video {
    max-width: 100%;
}

main img,
main video {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 8px;
    border: 2px solid rgba(103,58,183, 0.3); /* deep-purple */
    box-shadow: 4px 4px rgba(103,58,183, 0.15); /* deep-purple */
}
main .card-panel img,
main .card-panel video {
    border-width: 1px;
    box-shadow: 2px 2px rgba(103,58,183, 0.15); /* deep-purple */
}
main .checksumGitHub-false,
main .card-panel .checksumGitHub-false {
    border-top: 8px solid orangered;
}
main .card .card-image img {
    border-radius: 8px 8px 0 0;
    border-width: 0;
}
main .card .card-image {
    border-radius: 8px 8px 0 0;
}

main .chip {
    background-color: rgba(103,58,183, 0.05); /* deep-purple */
    border: 1px solid rgba(103,58,183, 0.15); /* deep-purple */
    box-shadow: none;
    
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .chip img {
    border: 0;
    box-shadow: none;
}

#welcomePage .card-title {
    text-shadow: 1px 1px rgba(0,0,0, .8), 
        0 -1rem 3rem rgba(0,0,0, .8), 
        2rem 0 3rem rgba(0,0,0, .8), 
        0 1rem 3rem rgba(0,0,0, .8), 
        -2rem 0 3rem rgba(0,0,0, .8);
}

footer.page-footer .footer-copyright {
    overflow: auto;
    height: inherit;
    line-height: inherit;
    padding-top: 20px;
}

.side-nav .grey-text {
    margin-left: 1rem;
}

.card.image .card-image,
.card.storyBook .card-image {
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ede7f6; /* deep-purple lighten-5 */
}
.card.image .card-content > p,
.card.storyBook .card-content > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card.image .card-title,
.card.storyBook .card-title,
.card.contributor .card-title {
    text-shadow: 1px 1px rgba(0,0,0, .8), 
        0 -0.5rem 1.5rem rgba(0,0,0, .4), 
        1rem 0 1.5rem rgba(0,0,0, .4), 
        0 0.5rem 1.5rem rgba(0,0,0, .4), 
        -1rem 0 1.5rem rgba(0,0,0, .4);
}

.card,
.card-panel {
    border-radius: 8px;
}
.card .card-action:last-child {
    border-radius: 0 0 8px 8px;
}
.btn {
    border-radius: 4px;
}
.btn-large {
    border-radius: 8px;
}
.btn-floating {
    border-radius: 50%;
}

.btn,
.btn-large {
    background-color: #7e57c2;
}
.btn:hover,
.btn:focus,
.btn-large:hover,
.btn-large:focus {
    background-color: #9575cd;
}

.btn.tokenButton {
    border-radius: 32px;
    background: linear-gradient(135deg, #b39ddb 0%, #9575cd 100%); /* deep-purple lighten-3 --> #9575cd deep-purple lighten-2 */
}
.nav-wrapper .btn.tokenButton {
    background: linear-gradient(135deg, rgba(255,255,255, .4) 0%, rgba(255,255,255, .2) 100%);
}

.btn.tokenButtonSideNav, .btn.signOnBtn {
    border-radius: 32px;
    background: linear-gradient(135deg, #b39ddb 0%, #9575cd 100%); /* deep-purple lighten-3 --> #9575cd deep-purple lighten-2 */
}

.collection {
    border-radius: 8px;
}

.progress {
    background-color: #d1c4e9;
}
.progress .determinate,
.progress .indeterminate {
    background-color: #9575cd;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #9575cd;
  box-shadow: 0 1px 0 0 #9575cd;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9575cd;
}

a,
.dropdown-content li > a,
.dropdown-content li > span,
.input-field .prefix.active {
    color: #673ab7;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #9575cd;
  border-bottom: 2px solid #9575cd;
}

blockquote {
    border-color: #9575cd; /* deep-purple lighten-2 */
}

form {
    position: relative;
}
#formLoadingOverlay {
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
}
#formLoadingOverlay > .preloader-wrapper {
    top: 50%;
}

.contributor-name-wrapper {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

@media screen and (max-width:1000px) {
    .btn.tokenButton {
        display: none;
    }

    .contributor-name-wrapper {
        width: 30px;
    }
}

@media screen and (min-width:1000px) {
    .btn.tokenButtonSideNav {
        display: none;
    }
}