html {
    font-family: "Poppins", sans-serif;
}

body {
    background: #EEE;
}

#logo-container img {
    max-height: 1.2em;
    vertical-align: sub;
}

#index-banner {
    background-color: #673AB7;
    background-image: url(../../static/img/banner.jpg);
    background-size: cover;
    background-position: 0 50%;
}

.container > .section {
    min-height: 400px;
}

.container h1 {
    font-family: "Amaranth";
    text-shadow: 1px 1px rgba(0,0,0, .8), 
        0 -1rem 3rem rgba(0,0,0, .8), 
        2rem 0 3rem rgba(0,0,0, .8), 
        0 1rem 3rem rgba(0,0,0, .8), 
        -2rem 0 3rem rgba(0,0,0, .8);
}
.container h1 span {
    font-weight: 300;
}
#index-banner h5 {
    background-color: rgba(0,0,0, .5);
    box-shadow: 0 0 1rem rgba(0,0,0, .5);
    text-shadow: 1px 1px #000;
    padding: 1rem;
    border-radius: 2px;
}

img,
video {
    max-width: 100%;
}

#welcomePage .card-title {
    text-shadow: 1px 1px rgba(0,0,0, .8), 
        0 -1rem 3rem rgba(0,0,0, .8), 
        2rem 0 3rem rgba(0,0,0, .8), 
        0 1rem 3rem rgba(0,0,0, .8), 
        -2rem 0 3rem rgba(0,0,0, .8);
}

.footer-copyright {
    overflow: auto;
    height: inherit;
    line-height: inherit;
    padding-top: 20px;
}

.side-nav .grey-text {
    margin-left: 1rem;
}
