html[data-content-language="ben"],
html[data-content-language="hin"],
html[data-content-language="urd"] {
    font-family: "Andika", sans-serif;
}

body {
    background-image: url(../../../static/img/background.jpg);
}

nav {
    -webkit-transition: all .5s;	
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#wordCreatePage input#text,
#wordEditPage input#text {
    font-size: 2em;
}
#letterSoundCorrespondencesContainer .chip {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    height: auto;
    background-color: #EEE;
}

html[data-content-language="ben"] #letterCreatePage input#text,
html[data-content-language="hin"] #letterCreatePage input#text,
html[data-content-language="urd"] #letterCreatePage input#text,
html[data-content-language="ben"] #letterEditPage input#text,
html[data-content-language="hin"] #letterEditPage input#text,
html[data-content-language="urd"] #letterEditPage input#text,
html[data-content-language="ben"] #wordCreatePage input#text,
html[data-content-language="hin"] #wordCreatePage input#text,
html[data-content-language="urd"] #wordCreatePage input#text,
html[data-content-language="ben"] #wordEditPage input#text,
html[data-content-language="hin"] #wordEditPage input#text,
html[data-content-language="urd"] #wordEditPage input#text {
    font-size: 4rem;
    height: 2em;
    letter-spacing: 0.2em;
}

#emojiCreatePage input#glyph,
#emojiEditPage input#glyph {
    font-size: 6em;
    height: 1.2em;
}

#labeledAudios img,
#labeledImages img,
#labeledVideos img {
    width: 47%;
    margin-right: 2%;
}

#imageEditPage #image img {
    display: block;
    margin: auto;
}

#storyBookEditPage #coverImageContainer img,
#storyBookEditPage .storyBookChapter img {
    display: block;
    margin: auto;
}
#storyBookEditPage .storyBookChapter .storyBookParagraph {
    white-space: pre-line;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    font-size: 2em;
    line-height: 3em;
    margin: 2rem;
}
html[data-content-language="ben"] #storyBookEditPage .storyBookChapter .storyBookParagraph,
html[data-content-language="hin"] #storyBookEditPage .storyBookChapter .storyBookParagraph,
html[data-content-language="urd"] #storyBookEditPage .storyBookChapter .storyBookParagraph {
    letter-spacing: 0.4em;
}
html[data-content-language="urd"] #storyBookEditPage .storyBookChapter .storyBookParagraph {
    text-align: right;
    font-size: 3em;
}

blockquote,
.comment {
    white-space: pre-line;
    overflow: scroll;
}

.row.peerReviewEvent {
    padding: 0.5rem;
    margin: 0 0 1px 0;
    border-radius: 4px;
}
.row.peerReviewEvent.indent {
    margin-left: 1.5rem;
}
.peerReviewEvent[data-approved="true"] {
    background-color: #e0f2f1; /* teal lighten-5 */
    border-left: 5px solid #00897b; /* teal darken-1 */
    color: #00897b; /* teal darken-1 */
}
.peerReviewEvent[data-approved="false"] {
    background-color: #ffccbc; /* deep-orange lighten-4 */
    border-left: 5px solid #b71c1c; /* red darken-4 */
    color: #b71c1c; /* red darken-4 */
}
.peerReviewEvent .peerReviewStatus {
    font-weight: bold;
}

.diff-addition {
    background-color: #e0f2f1; /* teal lighten-5 */
    border-bottom: 2px solid #388e3c; /* green darken-2 */
    color: #388e3c; /* green darken-2 */
    border-radius: 4px;
    padding: 4px;
}
.diff-deletion {
    background-color: #ffccbc; /* deep-orange lighten-4 */
    border-bottom: 2px solid #b71c1c; /* red darken-4 */
    color: #b71c1c; /* red darken-4 */
    border-radius: 4px;
    padding: 4px;
}
