body {
    background-image: url(../../../static/img/background.jpg);
}

nav {
    -webkit-transition: all .5s;	
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.previewContainer {
    position: relative;
}
.previewContainer #previewContentContainer {
    position: absolute;
    top: 15.15%;
    height: 66.75%;
    width: 100%;
    text-align: center;
}
#videoEditPage .previewContainer #previewContentContainer {
    top: 25%;
    height: 53%;
}
.previewContainer #previewContent {
    position: relative;
    width: 90%;
    margin: -2% 10% 0 0;
    height: 100%;
    display: inline-block;
    font-size: 5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    -ms-transform: perspective( 1200px ) rotateY( -43deg ) rotateX(20deg);
    -webkit-transform: perspective( 1200px ) rotateY( -43deg ) rotateX(20deg);
    transform: perspective( 1200px ) rotateY( -43deg ) rotateX(20deg);
}
.previewContainer #previewContent.previewContentGrapheme {
    background: #FFF;
    font-size: 10em;
    font-family: "Andika", "Source Sans Pro", Arial, Verdana, sans-serif;
}
#wordCreatePage .previewContainer #previewContent.previewContentGrapheme,
#wordEditPage .previewContainer #previewContent.previewContentGrapheme {
    font-size: 4em;
    padding-top: 4rem;
    letter-spacing: .5rem;
}

#labeledAudios img,
#labeledImages img,
#labeledVideos img {
    width: 47%;
    margin-right: 2%;
}
