html[data-content-language="hin"] {
    font-family: "Andika", sans-serif;
}

body {
    background-image: url(../../../static/img/background.jpg);
}

nav {
    -webkit-transition: all .5s;	
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#letterSoundCorrespondencesContainer .chip {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    height: auto;
    background-color: #EEE;
}

#letterCreatePage input#text,
#letterEditPage input#text,
#wordCreatePage input#text,
#wordEditPage input#text,
#soundCreatePage input#valueIpa,
#soundEditPage input#valueIpa {
    font-size: 4rem;
    height: 2em;
    letter-spacing: 0.2em;
}

#emojiCreatePage input#glyph,
#emojiEditPage input#glyph {
    font-size: 6em;
    height: 1.2em;
}

.card-panel img {
    border-radius: 8px;
}
#labeledAudios img,
#labeledImages img,
#labeledVideos img {
    width: 47%;
    margin-right: 2%;
    border-radius: 4px;
}
#imageEditPage #image img {
    display: block;
    margin: auto;
}

.storyBook .headband {
    position: absolute;
    z-index: 1;
    width: 1em;
    height: 100%;
    background: linear-gradient(90deg,hsla(0,0%,100%,.22) 19.38%,rgba(0,0,0,.15) 51.67%,rgba(0,0,0,.34) 64.17%,hsla(0,0%,82%,.27) 75.63%,hsla(0,0%,100%,0) 94.38%);
    opacity: .3;
}

#storyBookEditPage #coverImageContainer img,
#storyBookEditPage .storyBookChapter img {
    display: block;
    margin: auto;
}
#storyBookEditPage .storyBookChapter .storyBookParagraph {
    white-space: pre-line;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    font-size: 2em;
    line-height: 3em;
    margin: 2rem;
}
html[data-content-language="hin"] #storyBookEditPage .storyBookChapter .storyBookParagraph {
    letter-spacing: 0.4em;
}

blockquote,
.comment {
    white-space: pre-line;
    overflow: scroll;
}

.row.peerReviewEvent {
    padding: 0.5rem;
    margin: 0 0 1px 0;
    border-radius: 4px;
}
.row.peerReviewEvent.indent {
    margin-left: 1.5rem;
}
.peerReviewEvent[data-approved="true"] {
    background-color: #e0f2f1; /* teal lighten-5 */
    border-left: 5px solid #00897b; /* teal darken-1 */
    color: #00897b; /* teal darken-1 */
}
.peerReviewEvent[data-approved="false"] {
    background-color: #ffccbc; /* deep-orange lighten-4 */
    border-left: 5px solid #b71c1c; /* red darken-4 */
    color: #b71c1c; /* red darken-4 */
}
.peerReviewEvent .peerReviewStatus {
    font-weight: bold;
}

.diff-addition {
    background-color: #e0f2f1; /* teal lighten-5 */
    border-bottom: 2px solid #388e3c; /* green darken-2 */
    color: #388e3c; /* green darken-2 */
    border-radius: 4px;
    padding: 4px;
}
.diff-deletion {
    background-color: #ffccbc; /* deep-orange lighten-4 */
    border-bottom: 2px solid #b71c1c; /* red darken-4 */
    color: #b71c1c; /* red darken-4 */
    border-radius: 4px;
    padding: 4px;
}
.diff-highlight {
    background-color: #ffecb3; /* amber lighten-4 */
    border-bottom: 2px solid #ffc107; /* amber */
    border-radius: 4px;
    padding: 4px;
}
