name: CI on main
on:
  push:
    branches:
      - "main"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: maven
    - name: Build with Maven
      run: mvn clean install
    - name: Test with Maven
      run: mvn clean test
      
