name: Maven CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: maven
    - run: mvn clean
    - run: mvn compile
    - run: mvn test
    - uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
        verbose: true
