name: Maven Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven
      - run: git config user.name 'Nya Îžlimu'
      - run: git config user.email 'info@elimu.ai'
      - run: mvn release:clean
      - run: mvn release:prepare
      - run: mvn release:perform
        env:
          GITHUB_TOKEN: ${{ github.token }}
