name: Maven Regression Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  regression_test_HIN:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven
      - run: mvn clean
      - run: mvn verify -P regression-testing-rest -D base.url=http://eng.elimu.ai
  
  regression_test_TGL:
    needs: regression_test_HIN
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven
      - run: mvn clean
      - run: mvn verify -P regression-testing-rest -D base.url=http://tgl.elimu.ai
